@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: playfair;
  src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: roboto, "Courier New", Courier, monospace;
  box-sizing: border-box;
}
.playfair,
h3 {
  font-family: playfair, "Courier New", Courier, monospace;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
body {
  display: flex;
  justify-content: center;
}
.horizontal {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.fullcontainer {
  gap: 4rem;
  /* border: 1px solid greenyellow; */
  width: 100svw;
}
.firstcontainer,
.secondcontainer,
.thirdcontainer {
  padding: 2rem;
  /* max-width: 400px; */
  gap: 3rem;
  /* border: 1px solid red; */
}

.thirdcontainer {
  background-color: rgb(79, 157, 221);
  color: azure;
}

.fedepic {
  max-width: 100%;
}
.mypicture {
  position: relative;
  justify-content: center;
}
.myname {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 5%;
}
.aboutme {
  gap: 1.5rem;
}
.icons {
  gap: 2rem;
}
i {
  font-size: 1.75rem;
}
.screenshot {
  font-size: 2.5rem;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background: orange;
}

.fedepic,
.square {
  box-shadow: 3px 3px 10px rgb(71, 71, 71);
}

.project {
  padding: 1.5rem 1rem 4rem 1rem;
  gap: 1.5rem;
}
.projectnameicons {
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.svg {
  gap: 1.5rem;
}
.svg img {
  width: 2rem;
}
.project p {
  font-size: 1.5rem;
}

.data {
  gap: 0.2rem;
}

.center {
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
}
.square {
  justify-content: center;
}
.skew {
  background-color: rgb(79, 157, 221);
  height: 25rem;
  width: 100svw;
  position: absolute;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-15deg);
}

.project p,
.data p {
  font-size: 1.25rem;
}
.thirdcontainer > p,
.aboutme p {
  font-size: 1.5rem;
}
